@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.btn-start:hover,
.btn-rotate:hover {
  cursor: pointer;
}

.gameboard {
}

.gameboard-grid {
}

.gameboard-grid-me {
}

.gameboard-grid-enemy {
}

.grid-row {
}

.grid-row-enemy {
}

.grid-row-me {
}

.grid-cell:hover {
  cursor: pointer;
}
.grid-cell-me {
}

.grid-cell-enemy:hover {
  cursor: crosshair;
}
